:root {
    --main_blue : #3ECEFA;
    --shadow_blue : #3E6BDE;
    --main_orange : #FA823E;
    --main_brown : #AD5B09;
    --light_gray : rgb(240, 240, 240);
    --middle_gray : rgb(200, 200, 200);
    --dark_gray : rgb(170, 170, 170);
    --strong_gray : rgb(120, 120, 120);
    --s01 : #1A2E5E;
    --s02 : #2C4D9E;
    --s03 : #3E6BDE;
    --s04 : #7ea3ff;
    --s05 : #b9cdff;
}

